<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ACID LABS Challenge</title>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, sans-serif;
      font-size: 12px;
    }

    body {
      background-color: #f5f5f5;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-size: cover;
      overflow: hidden;
    }

    .admin-container {
      width: 100%;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .exam-results {
      height: 700px;
      width: 600px;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 10px;
    }

    .users-container {
      height: 700px;
      width: 600px;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 10px;
      display: none;
    }

    .user-header {
      width: 100%;
      height: 100px;
      padding: 15px;
      border-bottom: 1px solid #ddd;
      margin-bottom: 20px;
    }

    .user-header-form {
      margin-top: 10px;
      width: 100%;
      height: 40px;
      display: flex;
      gap: 15px;
      align-items: center;

      & span {
        cursor: pointer;
      }

      & span:hover {
        font-weight: bold;
      }
    }

    .user-item {
      width: 98%;
      margin-left: 1%;
      padding: 10px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      border-bottom: 1px solid #ddd;
      cursor: pointer;

      & span {
        width: 30%;
      }

      & span:last-child {
        text-align: right;
        cursor: pointer;
      }

      & span:last-child:hover {
        font-weight: bold;
      }
    }

    .user-item:hover {
      background-color: #f1f1f1;
    }

    .user-items-container {
      width: 100%;
      height: 550px;
      overflow-y: scroll;
    }

    .content-container {
      height: 700px;
      width: 600px;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 10px;
      display: none;
    }

    .content-header {
      width: 100%;
      height: 100px;
      padding: 15px;
      border-bottom: 1px solid #ddd;
      margin-bottom: 20px;
    }

    .content-header-form {
      margin-top: 10px;
      width: 100%;
      height: 40px;
      display: flex;
      gap: 15px;
      align-items: center;

      & span {
        cursor: pointer;
      }

      & span:hover {
        font-weight: bold;
      }
    }

    .content-item {
      width: 98%;
      margin-left: 1%;
      padding: 10px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      border-bottom: 1px solid #ddd;
      cursor: pointer;

      & span {
        width: 30%;
      }

      & span:last-child {
        text-align: right;
        cursor: pointer;
      }

      & span:last-child:hover {
        font-weight: bold;
      }
    }

    .content-item:hover {
      background-color: #f1f1f1;
    }

    .content-items-container {
      width: 100%;
      height: 550px;
      overflow-y: scroll;
    }

    .tests-container {
      height: 700px;
      width: 600px;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 10px;
      display: none;
    }

    .tests-header {
      width: 100%;
      height: 100px;
      padding: 15px;
      border-bottom: 1px solid #ddd;
      margin-bottom: 20px;
    }

    .tests-header-form {
      margin-top: 10px;
      width: 100%;
      height: 40px;
      display: flex;
      gap: 15px;
      align-items: center;

      & span {
        cursor: pointer;
      }

      & span:hover {
        font-weight: bold;
      }
    }

    .tests-item {
      width: 98%;
      margin-left: 1%;
      padding: 10px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border-bottom: 1px solid #ddd;
      cursor: pointer;

      & span {
        width: 100px;
      }

      & span:last-child {
        text-align: right;
        cursor: pointer;
      }

      & span:last-child:hover {
        font-weight: bold;
      }
    }

    .tests-item:hover {
      background-color: #f1f1f1;
    }

    .tests-items-container {
      padding-top: 20px;
      width: 100%;
      height: 550px;
      overflow-y: scroll;
    }

    .exam-results-header {
      width: 100%;
      height: 80px;
    }

    .exam-results-item {
      width: 98%;
      margin-left: 1%;
      padding: 10px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      border-bottom: 1px solid #ddd;
      cursor: pointer;
      border-radius: 8px;
    }

    .exam-results-item:hover {
      background-color: #f1f1f1;
    }

    .exam-results-items-container {
      width: 100%;
      height: 610px;
      overflow-y: scroll;
    }

    .color-ref {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: red;
    }

    .lateral-menu {
      height: 400px;
      width: 200px;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 10px;
      margin-right: 30px;
      padding-top: 30px;

      & div {
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }

      & div:hover {
        background-color: #f1f1f1;
      }
    }

    input[type="text"] {
      width: 150px;
      height: 30px;
      padding: 12px;
      border: 1px solid #ddd;
      border-radius: 4px;
      font-size: 12px;
    }

    textarea {
      width: 100%;
      height: 60px;
      padding: 12px;
      border: 1px solid #ddd;
      border-radius: 4px;
      font-size: 12px;
    }

    .tests-container-form {
      display: none;
      width: 80%;
      left: 10%;
      padding: 5%;
      height: 80vh;
      border: 1px solid #ddd;
      border-radius: 4px;
      position: absolute;
      top: 10vh;
      z-index: 10;
      background-color: white;
      overflow-y: scroll;

      & .close-cross {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        font-size: 20px;
      }
    }

    .answer-block-container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .answer-block {
      width: 40%;
      height: 400px;
      padding: 20px;
    }

    .answer-input {
      width: 90% !important;
      margin: 10px 0 0 5%;
    }

    select {
      width: 100% !important;
      height: 30px;
      padding: 12px;
      border: 1px solid #ddd;
      background-color: white;
      border-radius: 4px;
      font-size: 12px;
      margin: 10px 0 0 0;
    }
  </style>
</head>

<body>
  <div class="admin-container">
    <div class="lateral-menu">
      <div onclick="displayContainers('resultados')">Resutados</div>
      <div onclick="displayContainers('usuarios')">Usuarios</div>
      <div onclick="displayContainers('contenido')">Contenido</div>
      <div onclick="displayContainers('tests')">Tests</div>
    </div>
    <div id="exam-results-id" class="exam-results">
      <div class="exam-results-header"></div>
      <div id="exam-results-items-container-id" class="exam-results-items-container">
        <% results.forEach((result)=> { %>
          <div class="exam-results-item">
            <span>
              <%= result.email %>
            </span>
            <span><b>
                <%= result.name %>
              </b></span>
            <span>
              <%= result.created %>
            </span>
            <span>
              <%= result.score %>
            </span>
            <div class="color-ref"></div>
          </div>
          <% }); %>
      </div>
    </div>

    <div id="users-container-id" class="users-container">
      <div class="user-header">
        <span>Crear usuario:</span>
        <div class="user-header-form">
          <input type="text" id="email" placeholder="Email" />
          <input type="text" id="password" placeholder="Contraseña" />
          <span onclick="createUser()">+ Crear</span>
        </div>
      </div>
      <div id="user-items-container-id" class="user-items-container">
        <% users.forEach((user)=> { %>
          <div class="user-item">
            <span><b>
                <%= user.email %>
              </b>
            </span>
            <span>
              Contraseña: <%= user.password %>
            </span>
            <span onclick="deleteUser('<%= user.id %>')">Eliminar</span>
          </div>
          <% }); %>
      </div>
    </div>

    <div id="content-container-id" class="content-container">
      <div class="content-header">
        <span>Crear contenido:</span>
        <div class="content-header-form">
          <input type="text" id="content-name" placeholder="Nombre" />
          <input type="file" id="file-id" />
          <span onclick="createContent()">+ Crear</span>
        </div>
      </div>
      <div id="content-items-container-id" class="content-items-container">
      </div>
    </div>

    <div id="tests-container-id" class="tests-container">
      <div id="tests-items-container-id" class="tests-items-container">
        <% content.forEach((con)=> { %>
          <div onclick="openQuestionModal('<%= con.id %>')" class="tests-item">
            <span><b>
                <%= con.name %>
              </b>
            </span>
            <span><b>
                Hola
              </b>
            </span>
          </div>
          <% }); %>
      </div>
    </div>

    <div id="tests-container-id-form" class="tests-container-form">
      <span onclick="closeQuestionModal()" class="close-cross">x</span>
      <div class="answer-block-container">
        <div class="answer-block">
          <p>Pregunta 1</p><br />
          <textarea id="question_1_id" placeholder="Escriba pregunta"></textarea><br />
          <span>A</span><input id="answer_1_a_id" type="text" class="answer-input" id="content-name"
            placeholder="Respuesta A" /><br />
          <span>B</span><input id="answer_1_b_id" type="text" class="answer-input" id="content-name"
            placeholder="Respuesta B" /><br />
          <span>C</span><input id="answer_1_c_id" type="text" class="answer-input" id="content-name"
            placeholder="Respuesta C" /><br />
          <span>D</span><input id="answer_1_d_id" type="text" class="answer-input" id="content-name"
            placeholder="Respuesta D" /><br />
          <select id="correct_answer_1_id">
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
          </select>
        </div>
        <div class="answer-block">
          <p>Pregunta 2</p><br />
          <textarea id="question_2_id" placeholder="Escriba pregunta"></textarea><br />
          <span>A</span><input id="answer_2_a_id" type="text" class="answer-input" id="content-name"
            placeholder="Respuesta A" /><br />
          <span>B</span><input id="answer_2_b_id" type="text" class="answer-input" id="content-name"
            placeholder="Respuesta B" /><br />
          <span>C</span><input id="answer_2_c_id" type="text" class="answer-input" id="content-name"
            placeholder="Respuesta C" /><br />
          <span>D</span><input id="answer_2_d_id" type="text" class="answer-input" id="content-name"
            placeholder="Respuesta D" /><br />
          <select id="correct_answer_2_id">
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
          </select>
        </div>
      </div>
      <button onclick="postQuestions()">Enviar</button>
    </div>


  </div>
</body>
<script>
  document.body.style.background = 'url("/images/<%= background_image %>") no-repeat center center fixed';
  document.body.style.backgroundSize = 'cover'; // Ensures full coverage
  var contentId = null;
  var content = <%- JSON.stringify(content) %>;
  var content_techs = <%- JSON.stringify(content_techs) %>;

  const showContent = () => {
    const contentContainer = document.getElementById("content-items-container-id")
    contentContainer.innerHTML = "";
    content_techs.forEach((tech) => {
      contentContainer.innerHTML += `<div class="content-item">
            <span><b>
                ${tech.name}
              </b>
            </span>
            <a target="_blank" href="${window.location.protocol}//${window.location.host}/content-files/${tech.filename}">pdf</a>
           <span onclick="deleteContent(${tech.content_id})">Eliminar</span>
          </div>`
    })
  }

  setTimeout(() => {
    showContent()
  }, 100)

  const postQuestions = async (id) => {
    const payload = [1, 2].map((i, index) => {
      return {
        question: document.getElementById(`question_${i}_id`).value,
        answer_a: document.getElementById(`answer_${i}_a_id`).value,
        answer_b: document.getElementById(`answer_${i}_b_id`).value,
        answer_c: document.getElementById(`answer_${i}_c_id`).value,
        answer_d: document.getElementById(`answer_${i}_d_id`).value,
        correct_answer: document.getElementById(`correct_answer_${i}_id`).value,
      }
    })

    const response = await fetch('/post-questions', {
      method: 'POST',
      headers: {
        "Content-Type": "application/json",
        token: localStorage.getItem("minibit-token"),
      },
      body: JSON.stringify({
        contentId: contentId,
        payload: payload
      })
    });

  }

  const deleteUser = async (id) => {
    const response = await fetch('/delete-user', {
      method: 'POST',
      headers: {
        "Content-Type": "application/json",
        token: localStorage.getItem("minibit-token"),
      },
      body: JSON.stringify({
        userId: id,
      })
    }).then(() => {
      alert("Usuario eliminado.")
    });
  }

  const deleteContent = async (id) => {
    const response = await fetch('/delete-content', {
      method: 'POST',
      headers: {
        "Content-Type": "application/json",
        token: localStorage.getItem("minibit-token"),
      },
      body: JSON.stringify({
        contentId: id,
      })
    }).then(() => {
      alert("Contenido eliminado.")
      content_techs = content_techs.filter((tech) => tech.content_id != id)
      showContent()
    }).catch(() => {
      alert("Algo fallo.")
    });
  }


  const openQuestionModal = (id) => {
    contentId = id;
    content.forEach((item) => {
      console.log(item.name)
    })
    document.getElementById("tests-container-id-form").style.display = "block"
  }

  const closeQuestionModal = () => {
    document.getElementById("tests-container-id-form").style.display = "none"
  }


  const displayContainers = (container) => {
    document.getElementById("exam-results-id").style.display = "none"
    document.getElementById("users-container-id").style.display = "none"
    document.getElementById("content-container-id").style.display = "none"
    document.getElementById("tests-container-id").style.display = "none"

    if (container == "usuarios") document.getElementById("users-container-id").style.display = "block"
    if (container == "resultados") document.getElementById("exam-results-id").style.display = "block"
    if (container == "contenido") document.getElementById("content-container-id").style.display = "block"
    if (container == "tests") document.getElementById("tests-container-id").style.display = "block"
  }

  const createContent = async () => {

    const fileInput = document.getElementById('file-id');
    const contentName = document.getElementById('content-name').value;
    const file = fileInput.files[0];

    // Check if a file was selected
    if (!file) {
      alert('Debe seleccionar un archivo');
      return;
    }

    // Check if the file is a PDF
    if (file.type !== 'application/pdf') {
      alert('El archivo debe ser PDF');
      return;
    }

    // Prepare the form data
    const formData = new FormData();
    formData.append('pdfFile', file);
    formData.append('contentName', contentName);

    try {
      // Send the file to the server
      const response = await fetch('/create-content', {
        method: 'POST',
        headers: {
          token: localStorage.getItem("minibit-token"),
        },
        body: formData
      });

      if (response.ok) {
        const result = await response.json();
        alert('Contenido subido exitosamente.');
        content_techs.push({ name: result.name, filename: result.filename, content_id: result.id })
        showContent()
      } else {
        throw new Error('Upload failed');
      }
    } catch (error) {
      alert('Algo fallo.');
    }
  }

  const createUser = () => {

    const email = document.getElementById("email").value || "";
    const password = document.getElementById("password").value || "";

    if (!email || !password) {
      alert("Datos incorrectos");
      return;
    }

    fetch(`${window.location.protocol}//${window.location.host}/create-user`, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        token: localStorage.getItem("minibit-token"),
      },
      body: JSON.stringify({
        email: email,
        password: password,
      }),
    }).then((response) => {

      if (!response.ok) {
        alert("Lo sentimos, algo falló.");
        return
      }

      alert("Usuario creado");

      const userContainer = document.getElementById("user-items-container-id")

      userContainer.innerHTML += `<div class="user-item">
            <span><b>
                ${email}
              </b>
            </span>
            <span>
              Contraseña: ${password}
            </span>
            <span>Eliminar</span>
          </div>`

      document.getElementById("email").value = "";
      document.getElementById("password").value = "";

    }).catch(() => {
      alert("Lo sentimos, algo falló.");
    });
  }

</script>

</html>