<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Acid Labs</title>
  <link rel="stylesheet" href="/css/admin.css" />
</head>

<body>
  <div class="admin-container">
    <div class="lateral-menu">
      <h1 class="admin_main_title" id="admin_main_title_id">Resultados ></h1>
      <div onclick="displayContainers('resultados')">Resutados</div>
      <div onclick="displayContainers('usuarios')">Usuarios</div>
      <div onclick="displayContainers('contenido')">Contenido</div>
      <div onclick="displayContainers('tests')">Tests</div>
    </div>

    <!-- RESULTADOS EXAMENES -->
    <div id="exam-results-id" class="exam-results">
      <div class="exam-results-header">
        <div class="user-header-form">
          <input type="text" placeholder="Email" id="mail_search_id" />
          <select class="select-content-name" name="content_name_search" id="content_name_search_id">
            <option value="" selected></option>
            <% content_techs.forEach((tech)=> { %>
              <option value="<%= tech.id %>">
                <%= tech.name %>
              </option>
              <% }); %>
          </select>
          <span onclick="searchResults()">Filtrar</span>
        </div>
      </div>
      <div id="exam-results-items-container-id" class="exam-results-items-container"></div>
    </div>

    <!-- USUARIOS -->
    <div id="users-container-id" class="users-container">
      <div class="user-header">
        <span>Crear usuario:</span>
        <div class="user-header-form">
          <input type="text" id="email" placeholder="Email" />
          <input type="text" id="password" placeholder="Contraseña" />
          <span onclick="createUser()">+ Crear</span>
        </div>
      </div>
      <div id="user-items-container-id" class="user-items-container"></div>
    </div>

    <!-- CONTENIDO -->
    <div id="content-container-id" class="content-container">
      <div class="content-header">
        <span>Crear contenido:</span>
        <div class="content-header-form">
          <input type="text" id="content-name" placeholder="Nombre" />
          <input type="file" id="file-id" />
          <span onclick="createContent()">+ Crear</span>
        </div>
      </div>
      <div id="content-items-container-id" class="content-items-container"></div>
    </div>


    <!-- PREGUNTAS EXAMENES -->
    <div id="tests-container-id" class="tests-container">
      <div id="tests-items-container-id" class="tests-items-container">
      </div>
    </div>

    <!-- FORMULARIO PREGUNTAS -->
    <div id="tests-container-id-form" class="tests-container-form">
      <div class="form-question-header">
        <p onclick="closeQuestionModal()" class="close-cross">x</p>
        <button onclick="postQuestions()">Guardar preguntas</button>
      </div>
      <form id="form-question-container-id" class="form-question-container"></form>
    </div>

  </div>
</body>
<script src="/js/admin.js"></script>
<script>/* VARIABLES GLOBALES Y SETEO INICIAL */
  document.body.style.background = 'url("/images/<%= background_image %>") no-repeat center center fixed';
  document.body.style.backgroundSize = 'cover'; // Ensures full coverage
  var contentId = null;
  var blockCreateContent = false;
  var filterResultsName = "";
  var filterResultsContentType = "";
  var content_question = <%- JSON.stringify(content_question) %>;
  var content_techs = <%- JSON.stringify(content_techs) %>;
  var users = <%- JSON.stringify(users) %>;
  var results = <%- JSON.stringify(results) %>;</script>
</html>