<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ACID LABS Challenge</title>
  <link rel="stylesheet" href="/css/exam.css" />
</head>

<body>
  <div class="game-container">
    <div class="question-container">
      <%= question %>
    </div>
    <div class="options-container">
      <% options.forEach(option=> { %>
        <div onclick="saveAnswersLocalStorage('<%= option.response %>')" class="option <%= option.class %>">
          <div class="option-letter">
            <%= option.letter %>
          </div>
          <div class="option-text">
            <%= option.text %>
          </div>
        </div>
        <% }); %>
    </div>
    <div id="prize-levels-id" class="prize-levels"></div>
    <h1 id="counter">10</h1>
  </div>
</body>
<script src="/js/exam.js"></script>
<script>
  const userId = "<%= userId %>";
</script>

</html>
aºbnm